@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Staatliches&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    background-image: url('index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    letter-spacing: 0.4rem;
}

.logo-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 400px;
    height: auto;
}

@media (max-width: 768px) {
    .logo {
        width: 200px;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

section input {
    width: 30rem;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #45474B;
    font-size: 1rem;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    section input {
        width: 80%;
    }
}

section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #1f62a5;
    color: #f7f2f3;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    section button {
        width: 80%;
    }
}

.resultados-pesquisa {
    width: 60rem;
    height: 46vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

@media (max-width: 768px) {
    .resultados-pesquisa {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .resultados-pesquisa {
        height: 50vh;
    }
}

.item-resultado {
    background: #FFFFFF;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: #222831;
}

.item-resultado a {
    text-decoration: none;
    color: #30475E;
}

.item-resultado a:hover {
    text-decoration: underline;
}

.descricao-meta {
    color: #45474B;
    margin: 0.5rem 0;
}

footer {
    background-color: #F5F7F8;
    color: #45474B;
    text-align: center;
    padding: 0;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #1a79af;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
